.custom-loader {
  width:30px;
  height:30px;
  border-radius:50%;
  border: 3px solid;
  border-color:#E4E4ED;
  border-right-color: #001CF4;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}